body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.t-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}


p {
  line-height: 1.65
}

p {
  margin: 0 0 1.65em 0;
}

.nu {
  text-decoration: none;
}

.nu:hover {
  text-decoration: underline;
}

.gray {
  color: #999999;
}

a:hover {
  text-decoration: none;
}

.container {
  position: relative;
  padding: 0 20px;
}

.container::before, .container::after, .group::before, .group::after {
  content: " ";
  display: table;
}

.container::after, .group::after {
  clear: both;
}

.search-trigger {
  color: #fff;
  cursor: pointer;
  display: none;

  @media(min-width: 960px) {
    display: inline-block;
  }
}