.btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 24px;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity .33s;

  @media (min-width: 530px) {
    font-size: 1.19rem;
  }

  &--green {
    background-color: $mainGreen;
  }

  &--small {
    padding: 6px 13px;
    border-radius: 4px;
    margin-right: 20px;
    font-size: 0.88rem;
    font-weight: 300;
    
    &-l-green {
      background-color: #46fe7f;
    }

    &-l-grshade {
      background-color: #50ec9d;
    }
  }

  &:hover {
    opacity: .75;
  }
}

/* .btn__small {
  padding: 7px 13px;
  border-radius: 4px;
  margin-right: 20px;
  font-size: 0.88rem;

  &-l-green {
    background-color: #46fe7f;
  }
} */