.headline {
  margin: 0;
  font-weight: 300;
  color: $mainGreen;

  &--medium {
    font-size: 1.9rem;
    margin-bottom: .75rem;

    @media(min-width: 530px) {
      font-size: 3.125rem;
    }
  }

  &--tiny {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: .25rem;
    font-weight: 400;
    
    @media (min-width: 530px) {
      font-size: 1.3875rem;
    }
  }

  &--small-plus {
    font-size: 1.6875rem;
    margin-bottom: 1.9rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }

  &--post-title a {
    color: $mainGreen;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & a {
    color: $mainGreen;
  }
}